body {
  padding: 0;
  margin: 0;
  font-family:'Noto Sans KR';
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,.25);
}

.first-header {
  align-items: center; 
  display: flex;
  color: red;
  font-family: 'Lacquer';
  font-size: 25px;
  text-align: center;
}

.first-header input {
  margin-top: 10px;
  margin-left: 350px;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid gray;
  font-size: 20px;
  padding-left: 10px;
}

.first-header input::placeholder {
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Noto Sans KR';
}

.logo-movi {
  width: 50px;
  height: 50px;
}

.user {
  display: flex;
  align-items: center;
  width: 230px;
  justify-content: space-between;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  margin-right: 10px;
}

.user p {
  width: 250px;
  padding-right: 0;
}


.column-information {
  padding-top: 20px;
  max-width: 70px;
  background: linear-gradient(to right, #f1283f, #f88e7a);
  box-shadow: 0 15px 0 0 rgba(0,0,0,.25);
  height: 90vh;
  text-align: center;
  color: white;

}

.column-information img {
  padding-bottom: 0px;
  width: 40px;
  height: 40px;
}

.column-information h5 {
  margin-top: 0;
}

.column-information a {
  text-decoration: none;
  color: white;
}

.config-information {
  margin-top: 270px;
}